@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #262f3e;
}

.disable-transitions * {
    transition: none !important;
}

@keyframes warrior__walk-animation {
    0% { background-position: 0px -110px; }
    100% { background-position: -330px -110px; }
}

.warrior__walk {
    animation: warrior__walk-animation 500ms steps(6) infinite;
}

@keyframes warrior__idle-animation {
    0% { background-position: 0px 0px; }
    100% { background-position: -440px 0px; }
}

.warrior__idle {
    animation: warrior__idle-animation 1.2s steps(8) infinite;
}

@keyframes thief__idle-animation {
    0% { background-position: 0px -220px; }
    100% { background-position: -440px -220px; }
}

.thief__idle {
    animation: thief__idle-animation 1.2s steps(8) infinite;
}

@keyframes wizard__idle-animation {
    0% { background-position: 0px -440px; }
    100% { background-position: -440px -440px; }
}

.wizard__idle {
    animation: wizard__idle-animation 1.2s steps(8) infinite;
}